{#
/**
 * @file
 *
 * Empty cart page template.
 *
 * @ingroup themeable
 */
#}
<div class="cart-empty-page">
  <h2 class="cart-empty-page-title u-margin-bottom-medium u-font-size-big1 u-font-brand">
    {{ 'Tu cesta está vacia'|t }}
  </h2>

  <p class="cart-empty-page-text u-margin-bottom-medium u-font-secondary-color-40 u-font-size-normal">Elige un cupón con el que quieras colaborar y escoge una de nuestras tarjetas para regalar a tus invitados, amigos o familiares.</p>

  <div class="u-margin-bottom-medium">
    <img src="/{{ directory }}/assets/images/carro-vacio.png" />
  </div>

  <p class="cart-empty-page-button"><a class="button" href="/">Ir a la home</a></p>

</div>
