.u-valign-super {
  vertical-align: super !important;
}

.u-valign-middle {
  vertical-align: middle !important;
}

.u-valign-baseline {
  vertical-align: baseline !important;
}

.u-uppercase {
  text-transform: uppercase !important;
}

.u-lowercase {
  text-transform: lowercase !important;
}

.u-capitalize {
  text-transform: capitalize !important;
}

.u-screen-reader-only {
  @include sr-only();
}

.u-font-bold {
  font-weight: bold !important;
}

.u-font-semibold {
  font-weight: 600 !important;
}

.u-font-italic {
  font-style: italic !important;
}

.u-text-decoration-none {
  text-decoration: none !important;
}

.u-text-decoration-underline {
  text-decoration: underline !important;
}

.u-text-center {
  text-align: center !important;
}

.u-text-center\@only-mobile {
  @include media($only-mobile) {
    text-align: center !important;
  }
}

.u-text-center\@tablet {
  @include media($tablet) {
    text-align: center !important;
  }
}

.u-text-right {
  text-align: right !important;
}

.u-text-right\@desktop {
  @include media($desktop) {
    text-align: right !important;
  }
}

.u-text-left {
  text-align: left !important;
}

.u-white-space-nowrap {
  white-space: nowrap !important;
}

.u-white-space-normal {
  white-space: normal !important;
}

.u-font-size-tiny {
  @include typi('tiny');
}

.u-font-size-small {
  @include typi('small');
}

.u-font-size-normal {
  @include typi('normal');
}

.u-font-size-large {
  @include typi('large');
}

.u-font-size-h4 {
  @include typi('h4');
}

.u-font-size-h3 {
  @include typi('h3');
}

.u-font-size-h2 {
  @include typi('h2');
}

.u-font-size-big1 {
  @include typi('big1');
}

.u-font-color {
  color: $body-color !important;
}

.u-font-inverse-color {
  color: $inverse-text-color !important;
}

.u-font-grey {
  color: $grey-4 !important;
}

.u-font-white {
  color: #fff !important;
}

.u-font-brand {
  color: $brand-color !important;
}

.u-font-blue {
  color: $blue !important;
}

.u-text-decoration-none {
  text-decoration: none !important;
}

/* AECC */

.u-font-brand-color {
  color: $brand-color !important;
}

.u-font-secondary-color-20 {
  color: $secondary-color--20 !important;
}

.u-font-secondary-color-40 {
  color: $secondary-color--40 !important;
}

.u-font-secondary-color-60 {
  color: $secondary-color--60 !important;
}
