{#
/**
 * @file
 * Default theme implementation for checkout panes.
 *
 * Available variables:
 * - elements: The checkout pane's form elements.
 *
 * @ingroup themeable
 */
#}
<fieldset class="checkout-pane checkout-pane-shipping-information form-item js-form-wrapper form-wrapper"
          data-drupal-selector="edit-shipping-information" id="edit-shipping-information">

  <div class="fieldset-wrapper">
    {{ elements }}
  </div>
</fieldset>
