/*

*/

/*@font-face {
  font-family: 'Proxima nova';
  src: url('../fonts/FuentesProximaNova/ProximaNova-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima nova';
  src: url('../fonts/FuentesProximaNova/ProximaNova-Bold.otf') format('otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima nova';
  src: url('../fonts/FuentesProximaNova/ProximaNova-SemiBold.otf') format('otf');
  font-weight: 600;
  font-style: normal;
}
*/
