<div class="container">
  <div class="layout-checkout-form clearfix u-padding-top-large u-padding-bottom-large u-padding-top-huge@tablet u-padding-bottom-huge@tablet u-padding-top-extrahuge@desktop u-padding-bottom-extrahuge@desktop">
    <div class="form-items">

      {{ form }}


    </div>
  </div>
</div>
