<h2 class="p-guide__title">.slide</h2>
<h3>Slide</h3>
<div class="slide">
  <div class="slide__img" style="background-image:url(/images/bg-home.png);top left no-repeat;background-size:cover;">
  </div>
  <div class="col-lg-4 offset-lg-7 u-background-transparent@desktop slide__content u-padding-top-large u-padding-bottom-large">
    <h1 class="slide__title">compra un
      <span>cupón</span>
      de
      <span>farmacia</span>
    </h1>
    <p class="u-text-center u-margin-top">Más de 25.000 personas en riesgo de exclusión por la enfermedad. </p>
    <div class="u-text-center u-margin-top">
      <button class="button button--service-color-2">Comprar</button>
    </div>
  </div>
</div>
<h3>Slide interior</h3>

<div class="slide slide--interior">
  <div class="slide__img" style="background-image:url(/images/bg-home.png);top left no-repeat;background-size:cover;">
  </div>
  <div class="slide__content">
    <h1 class="slide__title">
      <span>cupón de farmacia</span>
    </h1>
  </div>
</div>
