<h2 class="p-guide__title">.pack-cupon</h2>

<div class="pack-cupon" style="position:relative !important;right:auto !important;">
  <h3>Pack de
    <span>cupón de farmacia</span>
  </h3>
  <form>
    <fieldset class="calculo">
      <div class="input-group">
        <input type="text" data-ride="spinner" class="input-number" value="1" data-min="1" data-max="10">
        <span class="input-number__plus">
          <img src="/images/icons/plus.png" alt="plus" />
        </span>
        <span class="input-number__minus">
          <img src="/images/icons/minus.png" alt="minus" />
        </span>
      </div>
      <p class="suma">
        100€
      </p>
    </fieldset>
    <p>
      Lorem ipsum
      <strong>dolor sit amet</strong>, consectetur adipiscing elit. Sed ornare vel magna quis pellentesque. Cras vulputate at.
    </p>
    <fieldset>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optradio" checked>Quiero tarjetas
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optradio">No quiero tarjetas
        </label>
      </div>
    </fieldset>
    <button class="button u-margin-top">Continuar y elegir tarjetas</button>
  </form>
</div>
