<h2 class="p-guide__title">.site-nav</h2>

<nav class="site-nav">
  <a href="" class="site-nav__link">Conócenos</a>
  <a href="" class="site-nav__link">Productos</a>
  <a href="" class="site-nav__link">Actualidad</a>
  <a href="" class="site-nav__link">Contacto</a>
  <a href="" class="button button--link@desktop-large site-nav__button">
    <span class="icon button__icon">
      {% include icons/phone.svg %}
    </span>
    <span>
      Llámanos al <strong>900 844 855</strong>
    </span>
  </a>
</nav>




