<h2 class="p-guide__title">.hamburger</h2>

<button type="button" class="hamburger js-hamburger">
  <span class="hamburger__label">
    Menú
  </span>
  <span class="icon hamburger__icon hamburger__icon--hamburger">
    {% include icons/hamburger.svg %}
  </span>
  <span class="icon hamburger__icon hamburger__icon--close">
    {% include icons/close.svg %}
  </span>
</button>

<button type="button" class="hamburger hover">
  <span class="hamburger__label">
    Menú
  </span>
  <span class="icon hamburger__icon">
    {% include icons/hamburger.svg %}
  </span>
</button>

<button type="button" class="hamburger focus">
  <span class="hamburger__label">
    Menú
  </span>
  <span class="icon hamburger__icon">
    {% include icons/hamburger.svg %}
  </span>
</button>

<button type="button" class="hamburger active">
  <span class="hamburger__label">
    Menú
  </span>
  <span class="icon hamburger__icon">
    {% include icons/hamburger.svg %}
  </span>
</button>
