<h2 class="p-guide__title">.button</h2>

<h3 class="p-guide__subtitle">Button button</h3>

<button class="button">Default</button>

<h3 class="p-guide__subtitle">Button secondary</h3>

<button class="button button--secondary">Default</button>

<h3 class="p-guide__subtitle">Button services</h3>

<button class="button button--service-color-1">Default</button>
<button class="button button--service-color-2">Default</button>
<button class="button button--service-color-3">Default</button>
<button class="button button--service-color-4">Default</button>
