<h2 class="p-guide__title">.donacion</h2>
<h3>Donación servicio 1</h3>
<div class="donacion donacion--service-1">
  <a href="#" class="donacion__link"></a>
  <img class="donacion__img" src="/images/img-donacion.png" alt="donacion" />
  <div class="donacion__arrow">
    <img src="/images/icons/arrow.svg" alt="arrow" />
  </div>
  <div class="donacion__content">
    <div class="donacion__title">
      Atención especializada pacientes y familiares
    </div>
    <div class="donacion__price">
      90 €
    </div>
  </div>
</div>
<h3>Donación servicio 2</h3>
<div class="donacion donacion--service-2">
  <a href="#" class="donacion__link"></a>
  <img class="donacion__img" src="/images/img-farmacia.png" alt="farmacia" />
  <div class="donacion__arrow">
    <img src="/images/icons/arrow.svg" alt="arrow" />
  </div>
  <div class="donacion__content">
    <div class="donacion__title">
      Cupones farmacéuticos
    </div>
    <div class="donacion__price">
      40 €
    </div>
  </div>
</div>
<h3>Donación servicio 3</h3>

<div class="donacion donacion--service-3">
  <a href="#" class="donacion__link"></a>
  <img class="donacion__img" src="/images/img-manos.png" alt="manos" />
  <div class="donacion__arrow">
    <img src="/images/icons/arrow.svg" alt="arrow" />
  </div>
  <div class="donacion__content">
    <div class="donacion__title">
      Atención social
    </div>
    <div class="donacion__price">
      40 €
    </div>
  </div>
</div>
<h3>Donación servicio 4</h3>

<div class="donacion donacion--service-4">
  <a href="#" class="donacion__link"></a>
  <img class="donacion__img" src="/images/img-alojamiento.png" alt="alojamiento" />
  <div class="donacion__arrow">
    <img src="/images/icons/arrow.svg" alt="arrow" />
  </div>
  <div class="donacion__content">
    <div class="donacion__title">
      Alojamiento
    </div>
    <div class="donacion__price">
      30 €
    </div>
  </div>
</div>
