<h2 class="p-guide__title">.site-secondary-nav  (dentro de un box)</h2>

<div class="box box--blue _site-nav-secondary">
  <nav aria-label="Conócenos" role="navigation">
    <ul class="site-nav-secondary__inner">
      <li class="site-nav-secondary__link"><a href="">Quiénes somos</a></li>
      <li class="site-nav-secondary__link"><a href="">Filosofía, valores y cifras</a></li>
      <li class="site-nav-secondary__link"><a href="">Equipo y Cultura</a></li>
      <li class="site-nav-secondary__link"><a href="">Confían en nosotros</a></li>
      <li class="site-nav-secondary__link"><a href="">Premios y reconocimientos</a></li>
      <li class="site-nav-secondary__link"><a href="">Documentación y memorias</a></li>
    </ul>
  </nav>
</div>






