---
title: Índice de componentes
---
<!DOCTYPE html>
<html>
{% include head.html %}

<body class="p-guide">

  <div class="container u-margin-bottom">

    <h1 class="p-guide__page-name">Índice de componentes</h1>

    {% include_relative _components.breadcrumbs.html %}
    {% include_relative _components.button.html %}
    {% include_relative _components.cupon.html %}
    {% include_relative _components.donacion.html %}
    {% include_relative _components.slide.html %}

  </div>

</body>

</html>
