//https://jonyablonski.com/2014/flexbox-media-object-pattern/

.o-media {
  display: flex;
  align-items: center;
}

.o-media--top {
  align-items: flex-start;
}

.o-media--bottom {
  align-items: flex-end;
}

  .o-media__item {
    padding-right: spacing(extrasmall);
  }

  .o-media__item--rev {
    padding-right: 0;
    padding-left: spacing(extrasmall);
  }

  .o-media__body {
    flex: 1;
  }
