.mail-info {
  background: $secondary-color--90;
  padding: 20px;
  margin-bottom: spacing(large);

  .field__label,
  .field__item {
    display: inline-block;
    margin-right: spacing(small);
  }

  .field__label {
    font-weight: 600;
  }
}

.customer-info {
  margin-bottom: spacing(large);

  .field__label {
    @include typi(h4);
    color: $brand-color;
    font-weight: 600;
    margin-bottom: spacing(small);
  }

  .address {
    span {
      display: inline-block;
      margin-bottom: spacing(extrasmall);
    }
  }

  .field--name-field-profile-billing-telefono {
    margin-bottom: spacing(extrasmall);
  }
}

.order-information {
  .field--name-placed {
     margin-bottom: spacing(extrasmall);

     .field__label {
       display: none;
     }

     .field__item {
      font-weight: 600;
     }
  }
}

.datos-envio {
  border-right: 1px solid $secondary-color--90;

  @include media($only-mobile) {
    border-bottom: 1px solid $secondary-color--90;
    border-right: 0;
  }
}
