.factura_entity {
  padding: spacing(base) 0;

  thead th {
    vertical-align: bottom;
    color: #fff;
    background-color: $brand-color;
    padding: 4px;
  }
}

.factura-cabecera {
  margin-bottom: spacing(base);
  width: 100%;

  p {
    display: block;
    margin-top: spacing(base);
  }
}

.factura__datos {
  margin-top: spacing(small);
  padding-top: spacing(small);
  margin-bottom: spacing(base);
  border-top: 1px solid $secondary-color--60;
}

.factura__completa {
  padding-top: spacing(base);
  border-top: 1px solid $secondary-color--60;
}

.factura__completa--cliente {
  margin-bottom: spacing(base);
}

.factura__completa--title {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: spacing(extrasmall);
}

.factura__simplicada--cliente {
  padding-top: spacing(base);
  margin-bottom: spacing(base);
  border-top: 1px solid $secondary-color--60;
}

.factura__simplicada--listado {
  padding: 0;
  margin: 0;
  text-align: left;
  list-style: none;

   li {
    span {
      margin-right: spacing(base);
      font-weight: 600;
    }
  }
}

.factura__datos-legales {
  @include typi(xsmall);
}
