<div class="o-media o-media--top">
	<div class="o-media__item">
		<div class="box">
			<img src="/assets/images/proto/document.png" alt="Imagen">
		</div>
	</div>
	<div class="o-media__body">
		<a href="" class="title4 u-margin-bottom-tiny">
			Cuentas individuales 2016
		</a>
		<div class="u-font-size-small u-margin-bottom-small">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			</p>
		</div>
		<span class="u-font-size-small u-font-grey">
			1.67 MG
		</span>
		<a href="#" class="button button--light button--small">
			Descargar
		</a>
	</div>
</div>