<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="robots" content="noindex,nofollow">

  <title>{{ page.title }} - aecc</title>

  <script>
    // Remove no-js tag
    (function () {
      var htmlTag = document.getElementsByTagName('html')[0];
      htmlTag.className = htmlTag.className.replace(/no-js/i, '');
    }());
  </script>

  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,300i,800,800i" rel="stylesheet">

  <link rel="stylesheet" href="/../css/styles.css">

  <!-- proto:start -->
  <link rel="stylesheet" href="/../css/guide.css">
  <!-- proto:end -->
</head>
<div id="background-transparent"></div>
