<footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="footer__general u-padding-top-large u-padding-bottom-large u-padding-top-extrahuge@desktop u-padding-bottom-extrahuge@desktop">
            <div class="row">
              <div class="col-md-6">

                <img src="/images/logo-negativo.png " alt="aecc " />
                <p class="title--footer u-padding-top">
                  Tu sede más cercana
                </p>
                <p class="subtitle--footer">Madrid</p>
                <p class="u-font-white u-padding-top-small u-padding-bottom-small">Avda. Dr. Federico Rubio
                  <br />y Galí, 84. C.P. 28040
                  <br />Tel. 91 398 59 00
                  <br />
                  <a href="#" title="enviar email a informacion@aecc.es" class="u-font-brand-color">informacion@aecc.es</a>
                </p>
              </div>
              <div class="col-md-6">
                <p class="title--footer">
                  Acerca de
                </p>
                <ul class="list--acerca u-padding-top-small">
                  <li class="list--acerca__item">
                    <a href="#" title="Sobre nosotros" class="list--acerca__link">Sobre nosotros</a>
                  </li>
                  <li class="list--acerca__item">
                    <a href="#" title="Te ayudamos" class="list--acerca__link">Te ayudamos</a>
                  </li>
                  <li class="list--acerca__item">
                    <a href="#" title="Colabora" class="list--acerca__link">Colabora</a>
                  </li>
                  <li class="list--acerca__item">
                    <a href="#" title="Todo sobre el Cáncer" class="list--acerca__link">Todo sobre el Cáncer</a>
                  </li>
                  <li class="list--acerca__item">
                    <a href="#" title="Investigación" class="list--acerca__link">Investigación</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="footer__social u-padding-top-large u-padding-bottom-large u-padding-top-extrahuge@desktop u-padding-bottom-extrahuge@desktop">
            <p class="title--footer">
              Redes sociales
            </p>
            <ul class="list--social u-padding-top">
              <li class="list--social__item">
                <a href="#" title="facebook" class="list--social__link list--social__link-facebook">
                </a>
              </li>
              <li class="list--social__item">
                <a href="#" title="twitter" class="list--social__link list--social__link-twitter">
                </a>
              </li>
              <li class="list--social__item">
                <a href="#" title="youtube" class="list--social__link list--social__link-youtube">
                </a>
              </li>
              <li class="list--social__item">
                <a href="#" title="pinterest" class="list--social__link list--social__link-pinterest">
                </a>
              </li>
            </ul>
            <p class="title--footer u-padding-top">
              Donaciones seguras
            </p>
            <p class="u-text-center u-font-white u-padding-top u-padding-left u-padding-right">
              Nuestra plataforma de donaciones es 100% segura y fiable.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="last-footer u-padding-top-tiny u-padding-bottom-tiny u-padding-top-extrasmall@tablet u-padding-bottom-extrasmall@tablet">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <ul class="list--fixed-links">
            <li class="list--fixed-links__item">
              <a href="/pages/basica" title="Aviso legal" class="list--fixed-links__link">Aviso legal</a>
            </li>
            <li class="list--fixed-links__item">
              <a href="/pages/basica" title="Soporte técnico" class="list--fixed-links__link">Soporte técnico</a>
            </li>
            <li class="list--fixed-links__item">
              <a href="/pages/basica" title="Uso de cookies" class="list--fixed-links__link">Uso de cookies</a>
            </li>
            <li class="list--fixed-links__item">
              <a href="/pages/basica" title="Política de privacidad" class="list--fixed-links__link">Política de privacidad</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-4">
          <hr class="line u-display-only-tablet-down" />
          <p class="u-text-center u-font-white">2018 © AECC Asociación Española Contra el Cáncer. </p>
        </div>
      </div>
</footer>
