.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: spacing(base);
  background-color: #fff;

  tbody {
    width: 100%;
  }

  th,
  td {
    padding: spacing(extrasmall) spacing(base);
    vertical-align: top;
    border-top: 1px solid rgba($orange, 0.5);
  }

  thead th {
    vertical-align: bottom;
    color: #fff;
    background-color: $brand-color;

    a {
      color: #fff;
    }
  }

  tbody tr:nth-of-type(even) {
    background-color: rgba($orange, 0.15);
  }
}

.table-responsive {
  margin-bottom: spacing(base);
  @include media($only-mobile) {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; // See https://github.com/twbs/bootstrap/pull/10057
  }

  .table {
    margin-bottom: 0;
  }
}

.views-table {
  @extend .table;
}
