.card {
  padding-top: spacing(large);

  @include media($tablet) {
    padding-top: spacing(huge);
  }

  @include media($desktop) {
    padding-top: spacing(extrahuge);
  }

  text-align: center;

  .button {
    margin-top: spacing(medium);
  }
}

.card__title {
  @include typi('h4');
  margin-top: spacing(medium);
  color: $brand-color--10;
}

.card__text {
  color: $secondary-color--40;
  margin-top: spacing(medium);
}
