.step {
  padding: spacing(base);
  text-align: center;
  color: $inverse-text-color;
  @include media($tablet) {
    padding: spacing(large) spacing(base);
  }
}

.step__number {
  @include typi('big2');
  @include title-style;
  color: #fff;
}

.step__text {
  @include typi('h4');
  @include title-style;
}
