.container--pack {
  position: fixed;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.pack-cupon {
  display: none;
  position: fixed;
  left: 0;
  background: #fff;
  margin: 0 auto;
  padding: spacing(base);

  border-top: 11px solid $brand-color;
  width: 100%;
  border-radius: 0;
  z-index: 100;
  transition: $component-transition;

  @include media($desktop) {
    display: block;
    width: rem(362px);
    z-index: 10;
    right: 0;
    bottom: 0;
    left: auto;
    position: fixed;
  }

  @include media($desktop-large) {
      right: 6vw;
  }
  @media only screen and (min-width: 1600px) {
    right: 9vw;
  }
  @media only screen and (min-width: 1800px) {
    right: 13vw;
  }
  @media only screen and (min-width: 2000px) {
    right: 16vw;
  }

  .button {
    display: block;
    width: 100%;
    text-align: center;
  }
}

.pack-cupon--title {
  @include typi('h4');
  margin-bottom: spacing(base);
  text-align: left;
  color: $secondary-color--20;
}

.pack-cupon--text {
  text-align: left;
}
