.section {
  @include spacer-margin-bottom;
}

.section--list {
  .section__block {
    padding-bottom: spacing(medium);
    border-bottom: 1px solid $component-border-color;
    @include media($tablet) {
      padding-bottom: spacing(huge);
    }
  }
}

.section__title {
  margin-bottom: spacing(base);
  @include media($tablet) {
    margin-bottom: spacing(medium);
  }
}

.section__subtitle {
  margin-bottom: spacing(small);
  @include media($tablet) {
    margin-bottom: spacing(base);
  }
}

.section__block {
  margin-bottom: spacing(medium);
  @include media($tablet) {
    margin-bottom: spacing(huge);
  }
}

.section--form {
  position: relative;
  z-index: 11;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: spacing(base);

  @include media($tablet) {
    padding-top: rem(300px);
  }
}

.section--contenido-producto {
  @include media($desktop) {
    background: linear-gradient(to right, #fff 0%, #fff 58%, #333 58%, #333 100%);
  }
}

.section--contenido-producto {
  iframe {
    max-width: 100% !important;

    @include media($only-mobile-tablet) {
      max-width: 100% !important;
      height: auto !important;
    }
  }
}
