.bg-fixed {
  background-image: url('/themes/custom/front/assets/images/bg-body.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: $blue;
}
