.servicio {
  margin-bottom: spacing(medium);
  width: 100%;
  display: flex;

  .servicio__icon {
    min-width: 48px;

    svg {
      fill: $brand-color;
    }
  }

  .servicio__content {
    margin-left: spacing(base);
  }
}

  .servicio__title {
    text-transform: uppercase;
    color: $secondary-color--30;
    margin-bottom: spacing(extrasmall);
    font-weight: 600;
  }

  .servicio__description {
    color: $secondary-color--40;
  }

  .servicio--negativo {
    margin-bottom: 0;
    flex-direction: column;

    .servicio__icon {
      text-align: center;
      margin-bottom: spacing(base);
      margin-right: 0;

      svg {
        fill: #fff;
      }
    }

    .servicio__content {
      margin-left: 0;
    }

    .servicio__price {
      @include typi('h4');

      font-weight: 600;
      margin-bottom: spacing(tiny);
      color: #fff;
      text-align: center;
    }

    .servicio__description {
      color: #fff;
      text-align: center;
    }
  }
