.site-nav-secondary {
  position: absolute;
  right: 0;
  top: 95vh;
  max-width: 240px;
  padding: spacing(medium);
  box-shadow: 25px 25px 50px 0 rgba(0, 0, 0, 0.5);
  z-index: 1;
  @media (max-width: 1279px) {
    display: none;
  }

  .header-img--small ~ & {
    top: 47.5vh;
  }
}

  .site-nav-secondary__link {
    position: relative;
    display: block;
    @include typi('small');
    font-weight: $black-weight;
    padding-left: 30px;
    color: #fff;
    text-decoration: none;

    &:hover {
      color: $orange;
      text-decoration: none;
    }

    &:not(:last-child) {
      margin-bottom: spacing(base);
    }

    &::before {
      content: '';
      position: absolute;
      top: 15px;
      left: 0;
      width: 20px;
      height: 1px;
      background-color: $orange;
    }
  }
