.breadcrumbs {
  margin: spacing(base) 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.breadcrumbs__item {
  float: left;
  color: $secondary-color--20;
  font-size: small;

  a {
    color: $brand-color;
    font-size: small;

    &::after {
      margin-left: spacing(tiny);
      margin-right: spacing(tiny);
      content: '>';
      color: $secondary-color--20;
    }

    &:hover {
      color: $dark-brand;
      text-decoration: none;
    }
  }
}
