
.eu-cookie-compliance-banner-info {
  padding: 20px 0;
}

.decline-button {
  -webkit-appearance: none;
    background: #72933a;
    border: 0;
    padding: 10px 20px;
    color: $body-bg;
    box-shadow: none;
    text-shadow: none;
}

.agree-button {
  font-weight: 600;
}

.eu-cookie-compliance-message {
  p {
    font-size: 16px;
  }
}
