.form-control {
  height: auto;
  background-color: #fff;
  border: 0;
  border-radius: rem(999px);
  display: inline-flex;

  @include typi('base');

  margin-bottom: spacing(small);
  padding: rem(16px) rem(20px) rem(14px);
  align-items: center;
  line-height: $line-height-small;
  vertical-align: middle;
  cursor: pointer;

  transition: $component-transition;
}

.parallax-email-block {
  .form-email {
   height: 48px;
  }
}

.form-group {

  @include media($tablet) {
    margin-bottom: 0;
  }
}

.form-inline {
  .custom-select {
    @include media($tablet) {
      width: auto;
    }
  }

  .input-group {
    @include media($only-mobile) {
      width: 100%;
    }
  }
}

.form--suscribir {
  overflow: hidden;
  text-align: center;
  position: relative;

  .form-control {
    @include media($tablet) {
      width: 96%;
    }
  }

  .form-button {
    @include media($tablet) {
      display: inline;
      width: 190px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.calculo {
  background: $secondary-color--95;
  padding: spacing(small);
  overflow: hidden;
  text-align: center;

  .input-group {
    padding: rem(6px) rem(38px);

    @include media($desktop) {
      width: 50%;
      float: left;
      padding: 0;
    }
  }

  .suma {
    color: $brand-color;
    font-size: rem(31px);
    font-weight: bold;
    @include media($desktop) {
      float: right;
      padding: rem(12px) rem(32px);
    }
  }
}

.form-cupones-custom {
  .field--name-quantity {
    background: $secondary-color--95;
    padding: spacing(small);
    overflow: hidden;
    text-align: center;
    margin-top: spacing(small);
    margin-bottom: spacing(small);
  }

  .input-suma {
    float: left;
    width: 50%;
    height: 60px;
    border: 1px solid #999;
    border-radius: 0;
    font-weight: bold;
    @include typi('h3');
    text-align: center;
    -webkit-appearance: none;
    appearance: none;
     @include media($only-mobile) {
        background: none;
     }
  }

  @-moz-document url-prefix() {
    .input-suma {
      background: none;
      padding-right: 10px;
    }
 }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .input-suma {
      background: none;
      padding-right: 10px;
      -ms-appearance: normal;
      -ms-progress-appearance: normal;
    }

    .input-suma[type=number]::-webkit-inner-spin-button,
    .input-suma[type=number]::-webkit-outer-spin-button {
       opacity: 1;
    }
  }

  _:-ms-fullscreen, :root .input-suma {
    background: none;
    padding-right: 10px;
    -ms-appearance: normal;
    -ms-progress-appearance: normal;
  }

.input-suma:not(*:root) {
  background:#eee url('/themes/custom/front/assets/images/input-buttom.jpg') no-repeat top right;
}

  .input-suma[type=number]::-webkit-inner-spin-button,
  .input-suma[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      appearance: none;
      cursor: pointer;
      width: 30px;
      height: 60px;
      padding: 0;
      position: relative;
      right: 0;
      margin: 0;
      opacity: 0;
  }

  .suma {
    color: $brand-color;
    font-size: rem(31px);
    font-weight: bold;
    width: 45%;
    float: right;
    text-align: center;
    padding: rem(12px) rem(12px) 0;
  }
}

.input-number {
  float: left;
  width: rem(127px);
  height: rem(60px);
  border: 1px solid $secondary-color--60;
  border-radius: 0;
  padding: spacing(base);
}

.input-number__plus {
  width: rem(28px);
  height: rem(28px);
  margin-top: 1px;
  margin-left: -29px;
  background: $secondary-color--60;
  color: #fff;
  padding: 1px 7px;
}

.input-number__minus {
  position: relative;
  width: rem(28px);
  height: rem(28px);
  margin-top: 31px;
  margin-left: -28px;
  background: $secondary-color--60;
  color: #fff;
  padding: 1px 7px;
}

/* form-tarjetas */
.form-tarjetas-custom {
  label {
    display: block;
    font-weight: 600;
  }

  input[type='date'],
  input[type='number'],
  input[type='text'] {
      margin-top: rem(12px);
      padding: rem(12px);
      width: auto;
      max-width: 294px;
      height: 44px;
      border: 1px solid $secondary-color--80;
      border-radius: 3px;
      color: $secondary-color--50;

      &.form-tarjetas-control--conbtn {
        width: 238px;
      }
  }

  textarea {
    margin-top: rem(12px);
    padding: rem(12px);
    min-height: 177px;
    width: 100%;
    max-width: 403px;
    border: 1px solid $secondary-color--80;
    border-radius: 3px;
  }
}

/* Checkout */
.commerce-checkout-flow {
  .form-select,
  .form-text,
  .form-email {
    padding: rem(8px);
    width: 100%;
    max-width: 100%;
    border: 1px solid $secondary-color--80;
    border-radius: 3px;
    display: block;
    height: 40px;
  }

    .form-select {
      margin-bottom: 0;
    }

  .credit-card-form__divider {
    font-size: rem(24px);
  }
}

.form-wrapper__login-option {
  .form-select,
  .form-text,
  .form-email {
    max-width: 100%;
  }
}

/* campos en el form de darte de alta al tramitar */
.form-item-field-cupon-tiene-tarjeta {
  margin-bottom: spacing(extrasmall);
}

.password-suggestions {
  background: $secondary-color--90;
  padding: 15px 20px;
  font-size: 13px;
}

/* mensajes de error */

.form-item {
  position: relative;
}

.form-item--error-message {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 1;
  padding: 10px;
  border-radius: 10px;
  background: $secondary-color--90;
  border: 0;
  font-size: 12px;
  width: 250px;
  color: $form-error-color;
  text-align: center;

  a {
    color: $form-error-color !important;
    font-weight: 600;
  }
}

input.error {
  border: 1px solid $form-error-color !important;
}

.form-item--error-message::after {
    content: '';
    border-bottom: 15px solid rgb(230, 230, 230);
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    position: absolute;
    left: 5%;
    top: -14px;
}

.form-item-acepto-las-condiciones-legales {
  margin-top: spacing(small);

  @include media($only-mobile) {
    margin-top: spacing(extrasmall);
    margin-bottom: spacing(extrasmall);
  }

  label {
    color: $secondary-color--80;
  }

  a {
     color: $secondary-color--80;
     text-decoration: underline;

     &:hover {
       text-decoration: none;
     }
  }
}
