.text--w-img {
  padding: spacing(base) 0;
  display: flex;
  flex-wrap: wrap;

  img {
    margin-right: 5%;
    display: inline;
    width: 20%;
    height: auto;
  }

  p {
    display: inline;
    width: 75%;
  }
}

.text--destacado {
  margin: spacing(base) 0;
  padding: spacing(small);
  background: $secondary-color--90;
  color: $brand-color;
}

.text__entradilla {
  color: $secondary-color--20;
  font-weight: 600;
  @include typi('normal');
}

.text__cuerpo {
  color: $secondary-color--30;
}
