.tarjeta--container {
  .view-filters {
    width: 100%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;

    @media (min-width: 576px) {
      padding-right: 22.5px;
      padding-left: 22.5px;
      max-width: none;
    }

    @media (min-width: 768px) {
      padding-right: 30px;
      padding-left: 30px;
      max-width: none;
    }

    @media (min-width: 992px) {
      padding-right: 45px;
      padding-left: 45px;
      max-width: none;
    }

    @media (min-width: 1200px) {
      padding-right: 60px;
      padding-left: 60px;
      max-width: 1440px;
    }

    .form-item {
      display: flex;
      align-items: center;

      @include media($only-mobile) {
      display: block;
      }

      label {
        margin-right: spacing(base);

        @include media($only-mobile) {
          display: block;
         }
      }

      select {
        appearance: none;
        margin: 0;
        min-width: 250px;
        height: 44px;
        border-radius: 8px;
        border: 1px solid $secondary-color--80;
        padding: 5px 15px;
        background: #fff url('../images/select.png') no-repeat top right;
      }
    }
  }
}

.tarjeta__container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
}

.tarjeta {
  max-width: 100%;
  margin-right: spacing(extrasmall);

  @include media($tablet) {
    width: 48%;
  }

  @include media($desktop-large) {
    width: 32%;
  }
}

.tarjeta__item {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border: 1px solid $secondary-color--90;
  background: #fff;
  line-height: 150px;
  text-align: center;
  padding: 20px;
  cursor: pointer;

  img {
    max-width: 100%;
  }

  &.on {
    border: 3px solid $brand-color;
  }

  &:hover {
    cursor: pointer;
  }
}

.alias--personalizar-tarjetas {
  #content-area {
    @include media($only-mobile) {
      padding-bottom: 300px;
    }
  }

  #flipper-control {
    margin-bottom: spacing(base);
  }
}

.add_to_cart_personalizacion_tarjeta {
  .form-item {
    margin-bottom: spacing(small);
  }
}

.filtrado-tarjetas {
  display: flex;
  align-items: center;
  @include media($only-mobile) {
    display: block;
  }
}
