.path--user {
  .nav-tabs {
    a {
      padding: 0.5rem 1rem;
      display: block;
      border: 1px solid transparent;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      position: relative;
      top: 1px;
      border-bottom: 0;

        @include media($only-mobile) {
           padding: 5px;
           font-size: 12px;
        }

      &.is-active {
        border-color: #e9ecef #e9ecef #dee2e6;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        background: #eee;
      }
    }
  }

  .nav-link {
    padding: 0;
  }

  form {
    margin: spacing(base) auto;

    select,
    input[type=text],
    input[type=password] {
      width: auto;
      height: 2rem;
      margin: 0;
    }
  }

   .form-item {
      margin-bottom: spacing(base);
      border-bottom: 1px solid $secondary-color--80;
      padding-bottom: spacing(base);

      label {
        display: block;
        margin-bottom: spacing(extrasmall);
        font-weight: 600;
      }
    }

    .form-type-checkbox {
      label {
        display: inline !important;
      }

      input {
        height: auto !important;
      }
    }

  .help-block {
    font-size: 13px;
    margin-top: 8px;
    max-width: 60%;
    display: block;
    color: $secondary-color--40;
  }

  .form-control {
      border: 1px solid $secondary-color--80;
  }

  .user-login-form {
    margin-top: spacing(base);

    input[type=text],
    input[type=password] {
      margin-bottom: spacing(extrasmall);
      background-color: #fff !important;
      padding: 10px;
      box-shadow: none !important;
      border: 1px solid $secondary-color--80;
      max-width: 100%;
    }
  }

  .user-register-form,
  .user-pass {
    padding: spacing(base) 0;
  }
}
