/* list--fixed-links */
.list--fixed-links {
  width: 100%;
  overflow: hidden;
  padding: 0;
  @include media($tablet) {
    margin: 0 auto;
    text-align: center;
  }
  @include media($desktop) {
    text-align: left;
    float: left;
    width: 70%;

    li:not(:first-of-type) {
        &::before {
        content: '·';
        margin-right: rem(12px);
        display: block;
      color: #fff;
      }
    }
  }
}

.list--fixed-links__item {
  width: 50%;
  float: left;
  padding: spacing(extrasmall) 0;
  list-style: none;
  text-align: left;
  @include typi(xsmall);

  @include media($tablet) {
    float: none;
    display: inline-flex;
    width: auto;
    text-align: center;
    padding: 0 rem(6px);
  }
}

.list--fixed-links__link {
  color: #fff;

  &:hover {
    color: $secondary-color--20;
    text-decoration: none;
  }
}

/* list--general-options */
.list--general-options ul {
  overflow: hidden;
  padding: 0;
  text-align: right;

  li {
    padding: 0 rem(4px);
    display: inline-flex;

    a {
      @include typi('base');
      color: $secondary-color--40;

      &:hover {
        color: $secondary-color--20;
        text-decoration: none;
      }
    }
  }

  li:not(:first-of-type) {
    &::before {
      content: '|';
      margin-right: rem(12px);
      display: block;
      color: $secondary-color--40;
    }
  }
}

/* list--acerca */
.list--acerca {
  padding: 0;
  list-style: none;
}

.list--acerca__item {
  padding: rem(6px) 0;
}

.list--acerca__link {
  color: #fff;
  font-size: ms(0);

  &:hover {
    text-decoration: none;
    color: $secondary-color--40;
  }
}

/* list--social */

.list--social {
  width: 100%;
  padding: 0;
}

.list--social-header {
  float: right;
  width: auto;
}

.list--social__item {
  list-style: none;
  display: inline-flex;
  margin: 0 rem(4px);
}

.list--social__link {
  display: block;
  width: rem(44px);
  height: rem(44px);
  background-size: rem(44px);

  &.list--social__link-facebook {
    background-image: url('../images/icons/icono-social-facebook.svg');

    &:hover {
      background-image: url('../images/icons/icono-social-facebook-hover.svg');
    }
  }

  &.list--social__link-twitter {
    background-image: url('../images/icons/icono-social-twitter.svg');

    &:hover {
      background-image: url('../images/icons/icono-social-twitter-hover.svg');
    }
  }

  &.list--social__link-youtube {
    background-image: url('../images/icons/icono-social-youtube.svg');

    &:hover {
      background-image: url('../images/icons/icono-social-youtube-hover.svg');
    }
  }

  &.list--social__link-pinterest {
    background-image: url('../images/icons/icono-social-pinterest.svg');

    &:hover {
      background-image: url('../images/icons/icono-social-pinterest-hover.svg');
    }
  }

  &.list--social__share-link-facebook {
    /* width: rem(36px);
    height: rem(36px); */
    background-image: url('../images/icons/facebook-share.png');

    &:hover {
      opacity: 0.7;
    }
  }

  &.list--social__share-link-twitter {
    /* width: rem(36px);
    height: rem(36px); */
    background-image: url('../images/icons/twitter-share.png');

    &:hover {
      opacity: 0.7;
    }
  }

  &.list--social__share-link-google {
    /* width: rem(36px);
    height: rem(36px); */
    background-image: url('../images/icons/google-share.png');

    &:hover {
      opacity: 0.7;
    }
  }
}

/* listado de pasos */

.list-pasos {
  display: block;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  width: 203px;

  @include media($tablet) {
    width: 467px;
  }
}

.list-pasos__item {
  list-style: none;
  float: left;
  width: 83px;
  @include media($tablet) {
    width: 215px;
  }

  span {
    display: block;
    float: left;
    width: 36px;
    height: 36px;
    padding: 8px 5px 10px;
    border-radius: 100%;
    background: $brand-color--75;
    color: $secondary-color--30;
    font-weight: 600;
  }

  p {
    display: none;
    @include media($tablet) {
      display: block;
      margin: 0;
      padding: 0;
      position: absolute;
      margin-top: 46px;
      width: 200px;
      margin-left: -81px;
    }
  }

  &::after {
    display: block;
    float: left;
    margin-top: 18px;
    width: 47px;
    height: 3px;
    background: $brand-color--75;
    content: ' ';
    @include media($tablet) {
      width: 179px;
    }
  }

  &.off {
    span {
      color: #fff;
      background: $secondary-color--80;
    }

    &::after {
      background: $secondary-color--80;
    }
  }

  &.on {
    span {
      color: #fff;
      background: $brand-color;
    }

    &::after {
      background: $brand-color;
    }

    p {
      font-weight: bold;
    }
  }

    &.do {
    span {
      color: $brand-color;
      background: $brand-color--50;
    }

    &::after {
      background: $brand-color--50;
    }
  }

  &:last-child {
    width: 36px;

    &::after {
      display: none;
    }
  }
}
