.page-item.disabled {
  .icon {
    color: $grey-3;
  }
}

.page-link {
  display: inline-flex;
  align-items: center;
  height: 100%;
}

.pagination__prev {
  @include media($tablet) {
    margin-right: spacing(tiny);
  }
}

.pagination__next {
  @include media($tablet) {
    margin-left: spacing(tiny);
  }
}
