$header-img-overlay: rgba(#000, 0.2);

.header-img {
  display: flex;
  height: 56.25vw;
  background-image: linear-gradient($blue, $blue);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include media($tablet) {
    width: 100%;
    position: absolute;
    height: 100vh;
    background-position-y: $site-header-height-tablet;
  }
  @include media($desktop) {
    background-position-y: $site-header-height-desktop-large;
  }
}

.header-img--small {
  height: 28.125vw;
  @include media($tablet) {
    height: 50vh;
  }
}

.header-img--no-image {
  height: auto;
  position: static;
}
