body {
  @include media($only-mobile-tablet) {
    padding-bottom: 60px;
  }
}

.frontpage,
.alias--tarjetas,
.alias--cupones,
.alias--personalizar-tarjetas,
.alias--cart,
.path--checkout,
.alias--user-login,
.alias--pulseras {
   @include media($only-mobile-tablet) {
      padding-bottom: 0;
   }
}

.container {
  position: relative;
}

.path--user {
  #content {
    width: 100%;
    padding: spacing(huge) 15px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 576px) {
      padding-right: 22.5px;
      padding-left: 22.5px;
      max-width: none;
    }

    @media (min-width: 768px) {
      padding-right: 30px;
      padding-left: 30px;
      max-width: none;
     }

    @media (min-width: 992px) {
      padding-right: 45px;
      padding-left: 45px;
    }

    @media (min-width: 1200px) {
      padding-right: 60px;
      padding-left: 60px;
      max-width: 1440px;
    }
  }
}

.path--checkout {
  .checkout-order_information,
  .checkout-login,
  .checkout-review,
  .checkout-payment,
  .checkout-payment_process {
    width: 100%;
    padding-bottom: spacing(huge);
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 576px) {
      padding-right: 22.5px;
      padding-left: 22.5px;
      max-width: none;
    }

    @media (min-width: 768px) {
      padding-right: 30px;
      padding-left: 30px;
      max-width: none;
     }

    @media (min-width: 992px) {
      padding-right: 45px;
      padding-left: 45px;
    }

    @media (min-width: 1200px) {
      padding-right: 60px;
      padding-left: 60px;
      max-width: 1440px;
      padding-top: spacing(huge);
    }
  }

  .checkout-login {
    #edit-login {
      overflow: visible !important;
    }

    .help-block {
      display: none;
    }
  }
}

.cbp-spmenu-push {
  .container {
    padding: 0;
  }
}
