@mixin spacer-padding {
  @each $breakpoint in map-keys($spacer-sizes) {
    @include media-breakpoint-up($breakpoint) {
      $spacer-size: map-get($spacer-sizes, $breakpoint);
      padding: spacing($spacer-size);
    }
  }
}

@mixin spacer-padding-vertical {
  @each $breakpoint in map-keys($spacer-sizes) {
    @include media-breakpoint-up($breakpoint) {
      $spacer-size: map-get($spacer-sizes, $breakpoint);
      padding-top: spacing($spacer-size);
      padding-bottom: spacing($spacer-size);
    }
  }
}

@mixin spacer-margin-top {
  @each $breakpoint in map-keys($spacer-sizes) {
    @include media-breakpoint-up($breakpoint) {
      $spacer-size: map-get($spacer-sizes, $breakpoint);
      margin-top: spacing($spacer-size);
    }
  }
}

@mixin spacer-margin-bottom {
  @each $breakpoint in map-keys($spacer-sizes) {
    @include media-breakpoint-up($breakpoint) {
      $spacer-size: map-get($spacer-sizes, $breakpoint);
      margin-bottom: spacing($spacer-size);
    }
  }
}

@mixin undo-spacer-margin-bottom {
  @each $breakpoint in map-keys($spacer-sizes) {
    @include media-breakpoint-up($breakpoint) {
      $spacer-size: map-get($spacer-sizes, $breakpoint);
      margin-bottom: -spacing($spacer-size);
    }
  }
}
