////
/// @group coverer
////

/// Hace que el elemento ocupe todo el espacio de su padre.
/// Muy usado en capas "overlay".
/// @example - scss
///   .overlay {
///     @include overlay;
///     background: rgba(black, 0.5);
///     z-index: 1000;
///   }
@mixin overlay($offset: 0) {
  position: absolute;
  top: $offset;
  right: $offset;
  bottom: $offset;
  left: $offset;
}
