/*
===========================================
==  Paleta de colores  ====================
===========================================
*/

/* Colores Marca */


/* Fin Colores Marca */

/* Colores Custom */
/*   Fin Colores Custom */


/*
===========================================
==  breakpoints  ==========================
===========================================
*/

// breakpoints de bootstrap
/*$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);*/

/*$container-max-widths: (
  sm: none,
  md: none,
  lg: none,
  xl: 1440px
);*/


/*$grid-columns: 12;
$grid-gutter-widths: (
  xs: 10px,
  sm: 15px,
  md: 20px,
  lg: 30px,
  xl: 40px
);

// breakpoints para typi
$breakpoints: (
  xs: map-get($grid-breakpoints, xs),
  sm: map-get($grid-breakpoints, sm),
  md: map-get($grid-breakpoints, md),
  lg: map-get($grid-breakpoints, lg),
  xl: map-get($grid-breakpoints, xl),
  xxl: map-get($grid-breakpoints, xxl)
);
*/
// breakpoint aliases
/*$mobile-large: '>=sm';
$tablet: '>=md';
$desktop: '>=lg';
$desktop-large: '>=xl';

$only-mobile-small: '<sm';
$only-mobile: '<md';
$only-mobile-tablet: '<lg';
$only-down-desktop: '<xl';
*/
/*
===========================================
== fuentes ================================
===========================================
*/
$modularscale: (
  base: 16px,
  ratio: 1.2
);


/*

$font-family-base: 'Proxima nova', Arial, sans-serif;
$font-size-base: rem(ms(0));
$font-weight-base: normal;
$line-height-base: 1.3;
$line-height-small: 1.1;
$black-weight: 700;

*/


/* Nombre de tamaños de letra y sus comportamientos


$typi: (
  xsmall: (
    null: (
      ms(-2),
      $line-height-base
    ),
    lg: (
      ms(-1),
      $line-height-base
    )
  ),
  small: (
    null: (
      ms(-2),
      $line-height-base
    ),
    lg: (
      ms(-1),
      $line-height-base
    )
  ),
  tiny: (
    null: (
      ms(-1),
      $line-height-base
    )
  ),
  base: (
    null: (
      ms(0),
      $line-height-base
    )
  ),
  normal: (
    null: (
      ms(0),
      $line-height-base
    ),
    sm: (
      ms(1),
      $line-height-base
    )
  ),
  large: (
    null: (
      ms(1),
      $line-height-small
    ),
    md: (
      ms(2),
      $line-height-small
    )
  ),
  h4: (
    null: (
      ms(1),
      $line-height-base
    ),
    sm: (
      ms(2),
      $line-height-base
    )
  ),
  h3: (
    null: (
      ms(2),
      $line-height-base
    ),
    md: (
      ms(3),
      $line-height-base
    )
  ),
  h2: (
    null: (
      ms(2),
      $line-height-base
    ),
    sm: (
      ms(3),
      $line-height-base
    ),
    md: (
      ms(4),
      $line-height-small
    )
  ),
  h1: (
    null: (
      ms(4),
      $line-height-small
    ),
    md: (
      ms(5),
      $line-height-small
    )
  ),
  big1: (
    null: (
      ms(3),
      $line-height-small
    ),
    md: (
      ms(4),
      $line-height-base
    )
  ),
  big2: (
    null: (
      ms(7),
      $line-height-small
    )
  )
);

/*
===========================================
==  márgenes  =============================
===========================================


$spacing: (
  tiny: vr(0.25),
  extrasmall: vr(0.5),
  small: vr(0.75),
  base: vr(1),
  medium: vr(1.5),
  large: vr(2),
  huge: vr(2.5),
  xlarge: vr(3),
  extrahuge: vr(4),
  giant: vr(6),
  extragiant: vr(10)
);
*/
